.color:hover{
    background-color:#ffc506;
    animation: color-change 3s infinite;
}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}

@keyframes size-change {
  0%   { height: 400px; width: 800px; }
  50%  { height: 500px; width: 1000px; }
  100% { height: 400px; width: 800px; }
}

h2{
   background-color:#2e7567; 
}

h3{
   background-color:#fa0000; 
   font-size:30px;
}

h4{
    background-color:#28268e62;
}

h5{
    background-color:#48744e;
    font-weight:600;
}

h6{
    background-color:#687443;
}

img:hover{
    animation: size-change 3s infinite;
}