<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Almuerzos</title>
</head>
<body>
    <header>
        <h1>¿Cual es tu almuerzo favorito?</h1>
    </header>
    <main>
        <p>
            ¿Alguna vez te detuviste a pensar por qué siempre elegís ese menú al mediodía? Según el reciente (y muy poco riguroso) "Informe Gastronómico de la Personalidad", la elección de tu almuerzo no es casualidad: es un reflejo directo de tu forma de ser.
        </p>
        <h2>
            1. Milanesa con papas fritas: "El Clásico Incondicional"
        </h2>
        <p>
            Sos una persona leal, transparente y de pies sobre la tierra. No necesitás fuegos artificiales para ser feliz; valorás las tradiciones y sos el "lugar seguro" de tus amigos. Si algo funciona, ¿para qué cambiarlo?
        </p>

        <h2>
            2. Ensalada completa: "El Estratega del Bienestar"
        </h2>
        <p>
            Tenés una mentalidad orientada a objetivos. Sos organizado, te gusta tener el control de tu energía y siempre estás pensando tres pasos adelante. Tu lema es: "Mente sana en cuerpo listo para la acción".
        </p>

        <h2>
            3. Pasta (en todas sus formas): "El Alma Creativa"
        </h2>
        <p>
            Sos puro sentimiento y calidez. Las personas que eligen pastas suelen ser sociables, disfrutan de las charlas largas y tienen una sensibilidad especial para el arte o la música. Para vos, almorzar es un abrazo al corazón.
        </p>

        <h2>
            4. Pizza o Empanadas: "El Espíritu Libre"
        </h2>
        <p>
            Sos el alma de la fiesta. Adaptable, práctico y siempre listo para la aventura. No te complicás con protocolos: preferís resolver rápido para seguir disfrutando de lo que la vida tenga para ofrecerte hoy.
        </p>

        <h2>
            5. Sushi o comida exótica: "El Explorador Curioso"

        </h2>
        <p>
            Tu curiosidad no tiene límites. Te aburre la rutina y siempre estás buscando la próxima tendencia o ese destino lejano para tus vacaciones. Sos sofisticado, detallista y un poquito exigente (¡pero vale la pena!).
        </p>
    </main>
    <footer>
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/xtHYz4aL1sY?si=bXqGlR-h9F2KIgww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </footer>
</body>
</html>