header{
    background-color: lightsalmon;
    padding: 20px;
    text-align: center;
}

h2{
    background-color: rgb(174, 115, 92);
    padding: 10px;
}

p{
    background-color:rgb(233, 168, 142);
    font-size: 20px;
}